/*
COLORS

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
    --c-primary: #eb2f64;
    --c-primary-light: #ff3366;
    --c-primary-dark: #ba265d;

    --c-grey-light-1: #faf9f9;
    --c-grey-light-2: #f4f2f2;
    --c-grey-light-3: #f0eeee;
    --c-grey-light-4: #ccc;

    --c-grey-dark-1: #333;
    --c-grey-dark-2: #777;
    --c-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

    --line: 1px solid var(--c-grey-light-2);
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 600px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--c-grey-dark-1);
    background-image: linear-gradient(
        to right bottom,
        var(--c-primary-light),
        var(--c-primary-dark)
    );
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
